
/* Your CSS Code here. */
.holder div
{
	border: 1px solid;
}
.holder
{
	display: grid;
	width:200px;
	height:200px;
/* 	grid-gap:10px; */
	grid-template-columns: repeat(2,1fr);
/* 	grid-template-rows: repeat(2,1fr); */
}